/* blog page */
.blogs-outer-container {
  width: 100%;
  height: 100vh;
  background-color: #C7D3DD;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.blogs-outer-color-container {
  background-color: #C7D3DD;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.blogs-title {
}

.blogs-title-mobile {
  margin-left: 5%;
}

.blogs-inner-container {
  text-align: justify;
  width: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: black;
}

.blogs-inner-mobile {
  text-align: justify;
  width: 370px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: black;
}

.post-container {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #D7D7D7;
  display: flex;
  flex-direction: row;
}

.post-container-mobile {
  width: 90%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5%;
  background-color: #D7D7D7;
  display: flex;
  flex-direction: row;
}

.blogs-inner-container a {
  color: black;
}

.post-main-image {
  width: 30%;
  padding: 15px;
}

.post-main-image-mobile {
  width: 35%;
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 5px;
}

.post-second-column {
  width: 70%;
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 10px;
}

.post-title {
  width: 70%;
  height: 20%;
  font-size: 18px;
}

.post-date {
  font-size: 12px;
}

.post-description {
  font-size: 14px;
  width: 90%;
  height: 20%;
  align-self: flex-start;
  margin-top: 10px;
}

.blogs-description {
}

.medium-icon {
  width: 20px;
  height: 20px;
}

.blogs-description-mobile {
  margin-left: 20px;
  margin-right: 20px;
}