/* news page */
.news-most-outer-container {
  width: 100%;
  height: 100vh;
  background-color: #C7D3DD;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.news-outer-color-container {
  background-color: #C7D3DD;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.news-inner {
  text-align: justify;
  width: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: black;
}

.news-inner-mobile {
  text-align: justify;
  width: 370px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: black;
}
