/* publications page */
.publications-most-outer-container {
  width: 100%;
  height: 100vh;
  background-color: #CFCED3;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.publications-outer-color-container {
  background-color: #CFCED3;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}