---
layout: default
title: Blog Posts - Erkan
permalink: /blog
---

<div class="blog-page">
    <div class="container">
        <h1 class="blog-title">Blog Posts</h1>
        <p class="blog-description">
            This is where I learn in public by thinking and writing (term borrowed from Anne-Laure Le Cunff).
        </p>

        <ul class="blog-posts-list">
            {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}" class="blog-post-link">{{ post.title }}</a>
                <div class="blog-post-meta">{{ post.publish_date }}</div>
                {% if post.description %}<p class="post-excerpt">{{ post.description }}</p>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<footer class="footer">
    <div class="container" style="padding-top: 0;">
        <p>Source code available on <a target="_blank" href="https://github.com/erkankarabulut/erkankarabulut.github.io">GitHub</a>.</p>
    </div>
</footer>
